<div class="container mt-8 w-full flex justify-center">
  <div class="w-4/5">
    <div>
      <span class="text-white text-sm tracking-[0.4em]">Seu projeto</span>
      <form class="w-full" [formGroup]="formNovoProjeto">
        <input
          class="w-full h-10 rounded-lg bg-white/[.06] outline-transparent text-white/[0.64] text-sm p-2.5 mt-4 hover:bg-white/[.10]"
          placeholder="Nome do seu projeto."
          formControlName="nomeProjeto"
        />
        <app-mensagem
          *ngIf="
            formNovoProjeto.get('nomeProjeto')?.errors &&
            formNovoProjeto.get('nomeProjeto')?.touched
          "
          mensagem="Faltou o nome do seu projeto."
        ></app-mensagem>
        <textarea
          class="w-full h-20 rounded-lg bg-white/[.06] outline-transparent text-white/[0.64] text-sm p-2.5 mt-4 hover:bg-white/[.10]"
          placeholder="Descrição do seu projeto."
          formControlName="descricaoProjeto"
          name="descricaoProjeto"
        >
        </textarea>
        <app-mensagem
          *ngIf="
            formNovoProjeto.get('descricaoProjeto')?.errors &&
            formNovoProjeto.get('descricaoProjeto')?.touched
          "
          mensagem="Faltou a descrição do projeto."
        ></app-mensagem>
        <app-personalizacao [form]="formNovoProjeto"></app-personalizacao>
        <div>
          <button
            type="submit"
            class="w-full h-12 rounded-lg bg-blue-700 outline-transparent text-white/[0.64] text-sm p-2.5 mt-4 hover:bg-blue-500"
            (click)="salvarTeste()"
            (click)="openSnackBar()"
            [disabled]="formNovoProjeto.invalid"
          >
            Salvar projeto
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
