<div class="flex grid grid-cols-9">
  <div class="container w-full col-start-1 col-end-7">
    <app-editor
      [colorSelecionada]="colorSelecionada"
      [linguagemSelecionada$]="linguagemSelecionada$"
      [textoSelecionado$]="textoSelecionado$"
      (textCode)="textoSelecionado($event)"
    ></app-editor>
    <button
      type="submit"
      class="w-full h-12 rounded-lg bg-blue-600/[.08] outline-transparent text-white/[0.64] text-sm p-2.5 mt-6 hover:bg-white/[.10]"
      (click)="atualizarConsole()"
      [disabled]="!linguagemSelecionada"
    >
      Visualizar com o highlight
    </button>
  </div>
  <div class="col-start-7 col-end-10">
    <app-menu-code
      (linguagemAtualizada)="linguagemSelecionada = $event"
      (colorAtualizada)="colorSelecionada = $event"
      (tituloAtualizado)="titulo = $event"
      (descricaoAtualizada)="descricao = $event"
    ></app-menu-code>
  </div>
</div>
