<header class="w-full">
  <div
    class="container flex justify-center justify-between items-center m-auto h-20 w-full mt-6"
  >
    <div class="w-1/5">
      <a [routerLink]="['']">
        <img src="./assets/img/Logo.png" alt="Logo-Alura"
      /></a>
    </div>
    <div class="w-2/4">
      <form class="">
        <input
          type="text"
          class="w-full h-10 rounded-lg bg-white/[.06] outline-transparent text-white text-sm p-2.5 hover:bg-white/[.10]"
          placeholder="Busque por algo"
        />
      </form>
    </div>
    <div class="w-1/5">
      <a href="" class="flex justify-end">
        <div class="flex hover:bg-white/[.10] p-2 rounded">
          <img
            src="./assets/img/avatar.png"
            alt="imagem do perfil"
            class="w-6"
          />
          <p class="text-white w-10 ml-1">Harry</p>
        </div>
      </a>
    </div>
  </div>
</header>
